@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  overflow: hidden;
}

.friendly-border {
  border: 2px solid blue;
}

.enemy-border {
  border: 2px solid red;
}

.hud {
  position: absolute !important;
  top: 3em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  z-index: 1000; /* Ensure it's above other elements */
  background-color: rgba(
    255,
    255,
    255,
    0
  ); /* Slight white background for visibility */
  padding: 5px;
}

/* Character Styling */
.character-hud {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 5px;
}

.character-hud img {
  width: 75px; /* Adjust as needed */
  height: 75px;
}

.character-hud.Friendly img {
  border: 3px solid blue;
}

.character-hud.Enemy img {
  border: 3px solid red;
}

.character-hud span {
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.circle {
  border-radius: 50%;
}
